@CHARSET "UTF-8";

.fade {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	opacity: 1;
}

.fade.ng-enter, .fade.ng-leave {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.fade.ng-enter {
	opacity: 0;
}

.fade.ng-enter-active {
	opacity: 1;
}

.fade.ng-leave {
	opacity: 1;
}

.fade.ng-leave-active {
	opacity: 0;
}