<?xml version="1.0" encoding="UTF-8"?>
<!-- 这是对log4j2的元配置，如果日志过程中出现了异常，如写入网络日志中断，log4j2会自动记录 -->
<configuration status="WARN">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</appenders>
	<loggers>
		<root level="warn">
			<appender-ref ref="Console" />
		</root>
		<logger name="org.apache" level="info" />
		<logger name="org.springframework" level="info" />
		<!-- <logger name="org.springframework.security.web.authentication" level="debug" /> -->
		<logger name="com.github.emailtohl.building" level="info" />
	</loggers>
</configuration>  