<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
            审核历史
    <small>查看审核记录</small>
  </h1>
  <ol class="breadcrumb">
    <li ui-sref="dashboard"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">history</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
	    <!-- general form elements -->
	    <div class="box box-primary">
	      <div class="box-header with-border">
	        <h3 class="box-title">搜索记录</h3>
	      </div>
	      <!-- /.box-header -->
	      <!-- form start -->
	      <form role="f">
	        <div class="box-body">
	          <div class="form-group col-md-6">
	            <label for="">申请人邮箱</label>
	            <input type="text" class="form-control" ng-model="ctrl.form.applicant" placeholder="可模糊查询">
	          </div>
	          <div class="form-group col-md-6">
	            <label for="">审核人邮箱</label>
	            <input type="text" class="form-control" ng-model="ctrl.form.handler" placeholder="可模糊查询">
	          </div>
		      <div class="form-group col-md-4">
		        <label>状态</label>
		        <select class="form-control select2" style="width: 100%;" select2 ng-model="ctrl.form.status" on-change="">
		          <option value="">全部</option>
		          <option value="REQUEST">申请中</option>
		          <option value="PROCESSING">处理中</option>
		          <option value="REJECT">已拒绝</option>
		          <option value="COMPLETION">已完成</option>
		        </select>
		      </div>
              <div class="form-group col-md-4">
	            <label for="">不早于</label>
	            <input type="datetime" datetimepicker class="form-control" ng-model="ctrl.form.start" placeholder="可模糊查询">
	          </div>
              <div class="form-group col-md-4">
	            <label for="">不晚于</label>
	            <input type="datetime" datetimepicker class="form-control" ng-model="ctrl.form.end" placeholder="可模糊查询">
	          </div>
	        </div>
	        <!-- /.box-body -->
	
	        <div class="box-footer">
	          <button type="reset" class="btn btn-default" ng-click="ctrl.reset()">重置</button>
	          <button type="submit" class="btn btn-primary pull-right" ng-click="ctrl.getPager()">查询</button>
	        </div>
	      </form>
	    </div>
	    <!-- /.box -->
    	</div>
  
	<div class="col-xs-12">
	  <div class="box">
	    <div class="box-header">
	      <h3 class="box-title">申请单处理记录</h3>
	
	      <div class="box-tools">
	        <form  ng-submit="ctrl.getPager()" class="input-group input-group-sm" style="width: 150px;">
	          <input ng-model="ctrl.form.name" name="table_search" class="form-control pull-right" placeholder="Search title" type="text">
	          <div class="input-group-btn">
	            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
	          </div>
	        </form>
	      </div>
	    </div>
	    <!-- /.box-header -->
	    <div class="box-body table-responsive no-padding">
	      <table class="table table-hover">
	        <tbody><tr>
	          <th>申请人</th>
	          <th>申请日期</th>
	          <th>申请标题</th>
	          <th>申请内容</th>
	          <th>审核人</th>
	          <th>审核日期</th>
	          <th>处理意见</th>
	          <th>修改状态</th>
	        </tr>
	        <tr style="cursor: pointer;" ng-repeat="x in ctrl.pager.content" ng-click="ctrl.openModal(x.id)">
	          <td>{{x.applicationForm.applicant.email}}</td>
	          <td>{{x.applicationForm.createDate}}</td>
	          <td>{{x.applicationForm.name}}</td>
	          <td>{{x.applicationForm.description}}</td>
	          <td>{{x.handler.email}}</td>
	          <td>{{x.modifyDate}}</td>
	          <td>{{x.cause}}</td>
	          <td><span class="label" ng-class="{'label-primary': x.status == 'REQUEST', 'label-warning' : x.status == 'PROCESSING', 'label-danger' : x.status == 'REJECT', 'label-success' : x.status == 'COMPLETION'}">{{ctrl.statusMap[x.status]}}</span></td>
	        </tr>
	      </tbody></table>
	    </div>
	    <!-- /.box-body -->
	    <pager page-number="ctrl.pager.pageNumber" total-pages="ctrl.pager.totalPages" button-count="5" on-click="ctrl.page(pageNumber)">
	  </div>
	  <!-- /.box -->
	  </div>
	</div>
	
	<div modal open="ctrl.modal.open" title="{{ctrl.modal.title}}" when-confirm="ctrl.modal.whenConfirm()" type="{{ctrl.modal.type}}">
	    <div class="box box-widget">
            <div class="box-header with-border">
              <div class="user-block">
                <img class="img-circle" ng-src="{{ctrl.detail.applicationForm.applicant.iconSrc}}" alt="User Image">
                <span class="username"><a href="#">{{ctrl.detail.applicationForm.applicant.email}}</a></span>
                <span class="description">{{ctrl.detail.applicationForm.createDate}}</span>
              </div>
              <!-- /.user-block -->
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                  <i class="fa fa-circle-o"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- post text -->
              
              <p>{{ctrl.detail.applicationForm.description}}</p>

            </div>
            <!-- /.box-body -->
            <div class="box-footer box-comments">
              <div class="box-comment">
                <!-- User image -->
                <img class="img-circle img-sm" ng-src="{{ctrl.detail.handler.iconSrc}}" alt="User Image">

                <div class="comment-text">
                      <span class="username">
                        {{ctrl.detail.handler.email}}
                        <span class="text-muted pull-right">{{ctrl.detail.createDate}}</span>
                        <span class="label" ng-class="{'label-primary': x.status == 'REQUEST', 'label-warning' : x.status == 'PROCESSING', 'label-danger' : x.status == 'REJECT', 'label-success' : x.status == 'COMPLETION'}">{{ctrl.statusMap[x.status]}}</span>
                      </span><!-- /.username -->
                  {{ctrl.detail.cause}}
                </div>
                <!-- /.comment-text -->
              </div>
              <!-- /.box-comment -->
            </div>
            <!-- /.box-footer -->
            <div class="box-footer">
            </div>
            <!-- /.box-footer -->
          </div>
	    <!-- /.box-body -->
	</div>
</section>