<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    CMS
    <small>资源管理</small>
  </h1>
  <ol class="breadcrumb">
    <li ui-sref="dashboard"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">resource</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

	<div class="row">
		<div class="col-xs-4">
			<div class="row">
				<div class="col-md-6">
				    <select class="form-control select2" style="width: 100%;" select2 ng-model="ctrl.charset" on-change="">
					  <option ng-repeat="x in ctrl.availableCharsets" value="{{x}}">{{x}}</option>
				    </select>
				</div>
		        <div class="col-md-6">
		          <form ng-submit="ctrl.query()" class="input-group input-group-sm" style="width: 150px;">
		            <input name="table_search" ng-model="ctrl.queryParam" class="form-control pull-right" placeholder="Search title" type="text">
		            <div class="input-group-btn">
		              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
		            </div>
		          </form>
		        </div>
			</div>
			<div class="row">
				<ul id="resource-tree" class="ztree"></ul>
			</div>
		</div>
		<div class="col-xs-8" ng-if="ctrl.currentNodeIsFile">
			<div ng-switch="ctrl.contentType" class="clearfix">
				<div ng-switch-when="text" class="box">
					<div class="box-body">
						<textarea id="cms-content-text" class="form-control" rows="15" ng-model="ctrl.content"></textarea>
					</div>
					<div class="box-footer">
						<a href="{{ctrl.getDownloadPath()}}" target="_blank" class="btn btn-default pull-left">打开</a>
						<button class="btn btn-primary pull-right" ng-click="ctrl.updateText()" ng-disabled="!ctrl.dirty">修改</button>
					</div>
				</div>
				<div ng-switch-when="image" class="">
					<img ng-src="{{ctrl.getDownloadPath()}}"></img>
				</div>
				<div ng-switch-when="video" class="ng-video-container">
					<video ng-src="{{ctrl.getDownloadPath()}}" width="512" height="288" controls="controls" poster="">
						<p>你的浏览器不支持{{ctrl.content}}</p>
					</video>
				</div>
				<div ng-switch-when="audio" class="">
					<audio ng-src="{{ctrl.getDownloadPath()}}" controls="controls" popover-title="{{ctrl.getDownloadPath()}}" poster=""></audio>
				</div>
				<div ng-switch-when="pdf" class="">
					<canvas id="pdf-area"></canvas>
				</div>
			</div>
		</div>

		<div class="col-xs-8" ng-if="!ctrl.currentNodeIsFile">
			<form name="f" upload upload-to="fileUploadServer/resource" when-done="ctrl.postUpload(msg)">
			  <div class="form-group">
	            <label>上传路径（编码后）</label>
	            <input type="text" placeholder="点击左侧目录树选择路径" class="form-control" name="path" ng-model="ctrl.path" readonly="readonly" required="required">
	          </div>
			  <div class="form-group">
	            <label>选择文件</label>
	            <input type="file" class="form-control" placeholder="上传文件" name="file" required="required">
	          </div>
	          <div class="form-group">
	              <button type="submit" class="btn btn-primary pull-right" ng-disabled="f.$invalid || ctrl.invalidFile()">上传</button>
	          </div>
			</form>
		</div>

	</div>

</section>