<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>新增职员
    <small>Preview</small>
  </h1>
  <ol class="breadcrumb">
    <li ui-sref="dashboard"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li ui-sref="user.list"><a href="#">User List</a></li>
    <li class="active">新增职员</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
  
	  <form role="form" name="addUserform">
	    <div class="box-body">
	      <div class="row">
	        <div class="col-md-6">
	          <div class="form-group has-feedback" ng-class="{'has-success':addUserform.name.$valid,'has-warning':addUserform.name.$error.required,'has-error':addUserform.name.$error.minlength}">
		        <label for="">姓名</label>
		        <input type="text" placeholder="name" name="name" class="form-control" ng-model="ctrl.form.name" required="required">
		        <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':addUserform.name.$valid,'glyphicon-warning-sign':addUserform.name.$error.required,'glyphicon-remove':addUserform.name.$error.minlength}"></span>
			    <span ng-show="addUserform.name.$error.required">
				This is a required field
				</span>
				<span ng-show="addUserform.name.$error.minlength">
				Minimum length required is 6
				</span>
				<span ng-show="addUserform.name.$invalid">
				This field is invalid
				</span>
		        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
		      </div>
		      <div class="form-group has-feedback" ng-class="{'has-success':addUserform.email.$valid,'has-warning':addUserform.email.$error.required,'has-error':addUserform.email.$invalid}">
		        <label for="">邮箱</label>
		        <input type="email" placeholder="email" name="email" class="form-control" ng-model="ctrl.form.email" required="required">
		        <span class="glyphicon glyphicon-ok form-control-feedback" ng-class="{'glyphicon-ok':addUserform.email.$valid,'glyphicon-warning-sign':addUserform.email.$error.required,'glyphicon-remove':addUserform.email.$invalid}"></span>
		      	<span ng-show="addUserform.email.$error.required">
				This is a required field
				</span>
				<span ng-show="addUserform.email.$invalid">
				This field is invalid
				</span>
		      </div>
		      <div class="form-group has-feedback" ng-class="{'has-success':addUserform.password.$valid,'has-warning':addUserform.password.$error.required,'has-error':addUserform.password.$error.minlength}">
		        <label for="">输入密码</label>
		        <input type="password" placeholder="password min 6" name="password" class="form-control" ng-model="ctrl.form.plainPassword" required="required" ng-minlength="6">
		      	<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':addUserform.password.$valid,'glyphicon-warning-sign':addUserform.password.$error.required,'glyphicon-remove':addUserform.password.$error.minlength}"></span>
			    <span ng-show="addUserform.password.$error.required">
				This is a required field
				</span>
				<span ng-show="addUserform.password.$error.minlength">
				Minimum length required is 6
				</span>
				<span ng-show="addUserform.password.$invalid">
				This field is invalid
				</span>
		      </div>
		      <div class="form-group has-feedback" ng-class="{'has-success':addUserform.password.$valid,'has-warning':addUserform.password.$error.required,'has-error':addUserform.password.$error.minlength || ctrl.form.plainPassword != ctrl.form.confirmPassword}">
		        <label for="">确认密码</label>
		        <input type="password" placeholder="password min 6" name="confirmPassword" class="form-control" ng-model="ctrl.form.confirmPassword" required="required" ng-minlength="6">
		      	<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':addUserform.confirmPassword.$valid && ctrl.form.plainPassword == ctrl.form.confirmPassword,'glyphicon-warning-sign':addUserform.password.$error.required || ctrl.form.plainPassword != ctrl.form.confirmPassword,'glyphicon-remove':addUserform.password.$error.minlength}"></span>
			    <span ng-show="ctrl.form.plainPassword != ctrl.form.confirmPassword">
				确认密码不匹配
				</span>
			    <span ng-show="addUserform.confirmPassword.$error.required">
				This is a required field
				</span>
				<span ng-show="addUserform.confirmPassword.$error.minlength">
				Minimum length required is 6
				</span>
				<span ng-show="addUserform.confirmPassword.$invalid">
				This field is invalid
				</span>
		      </div>
		      <div class="form-group">
		        <label for="">生日</label>
		        <input type="text" placeholder="birthday" class="form-control" datepicker ng-model="ctrl.form.date">
		      </div>
	        </div>
	        
	        <div class="col-md-6">
		      <div class="form-group">
		        <label for="">联系电话</label>
		        <input type="tel" placeholder="telephone" class="form-control" ng-model="ctrl.form.telephone">
		      </div>
		      <div class="form-group">
		        <label for="">手机</label>
		        <input type="text" placeholder="mobile" class="form-control" ng-model="ctrl.form.subsidiary.mobile">
		      </div>
			  <div class="form-group" ng-init="ctrl.form.userType = 'EMPLOYEE'">
		        <div class="radio">
		          <label>
		            <input name="userType" value="EMPLOYEE" type="radio" ng-model="ctrl.form.userType">
		            	 普通职员
		          </label>
		        </div>
		        <div class="radio" ng-if="hasAuthority('user_create_special')">
		          <label>
		            <input name="userType" value="MANAGER" type="radio" ng-model="ctrl.form.userType">
		             	经理
		          </label>
		        </div>
		      </div>
		      <div class="form-group has-feedback"  ng-class="{'has-success':addUserform.post.$valid,'has-warning':addUserform.post.$error.required,'has-error':addUserform.post.$error.minlength}">
		        <label for="">岗位</label>
		        <input type="text" placeholder="岗位" name="post" class="form-control" ng-model="ctrl.form.post" required="required">
     		    <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':addUserform.post.$valid,'glyphicon-warning-sign':addUserform.post.$error.required,'glyphicon-remove':addUserform.post.$error.minlength}"></span>
			    <span ng-show="addUserform.post.$error.required">
				This is a required field
				</span>
				<span ng-show="addUserform.post.$error.minlength">
				Minimum length required is 6
				</span>
				<span ng-show="addUserform.post.$invalid">
				This field is invalid
				</span>
		      </div>
		      <div class="form-group">
		        <label for="">部门</label>
		        <select class="form-control select2" style="width: 100%;" select2 ng-model="ctrl.form.department.name">
			      <option value="">请选择</option>
			      <option value="生产部">生产部</option>
			      <option value="质量部">质量部</option>
			    </select>
		      </div>
		      <div class="form-group">
		        <label for="exampleInputPassword1">描述</label>
		        <textarea rows="3" type="text" placeholder="description" class="form-control" ng-model="ctrl.form.description" ng-maxlength="300"></textarea>
		      </div>
	        </div>
	        
	        <div class="col-md-12">
      		  <div class="box-body">
		        <input type="submit" class="btn btn-primary btn-block" ng-disabled="addUserform.$invalid || ctrl.form.plainPassword != ctrl.form.confirmPassword" ng-click="ctrl.submit()">
		      </div>
	        </div>
	        
	      </div>

	    </div>
	    <!-- /.box-body -->
	  </form>
  
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->