<section class="content-header">
  <h1>
            用户详情
    <small>查看用户详情</small>
  </h1>
  <ol class="breadcrumb">
    <li ui-sref="dashboard"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li ui-sref="user.list"><a href="#">User Manage</a></li>
    <li class="active">detail</li>
  </ol>
</section>

<div class="row">
  <div class="box">
    <!-- /.box-header -->
    <div class="box-body">
      <table class="table table-bordered">
        <tbody><tr>
          <th style="width: 10px">#</th>
          <th>属性名</th>
          <th>属性值</th>
          <!-- <th style="width: 40px">Label</th> -->
        </tr>
        <tr ng-repeat="(k, v) in ctrl.detail">
          <td>{{$index}}</td>
          <td>{{k}}</td>
          <td>
            {{ctrl.getValue(k, v, $index)}}
          </td>
          <!-- <td><span class="badge bg-red">55%</span></td> -->
        </tr>
      </tbody></table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
      <button type="button" class="btn btn-default pull-left" ng-click="ctrl.edit()">编辑</button>
      <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="#">«</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">»</a></li>
      </ul>
    </div>
  </div>
  <!-- /.box -->

</div>


<div modal open="ctrl.modal.open" title="{{ctrl.modal.title}}" when-confirm="ctrl.modal.whenConfirm()" type="{{ctrl.modal.type}}">
  <form role="form">
    <div class="box-body">
      <div class="form-group">
        <label for="exampleInputEmail1">姓名</label>
        <input type="text" placeholder="name" class="form-control" ng-model="ctrl.form.name">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">描述</label>
        <input type="text" placeholder="description" class="form-control" ng-model="ctrl.form.description">
      </div>
      <!-- 普通用户（User）没有department属性，所以编辑不起作用
      	从这里可以总结经验，以后设计JPA实体关系时，尽量避免使用继承，否则从User转为其导出类Employee将很困难
      	以ctrl.detail.post判断是否Employee，如果没有这个值则不显示为编辑项
       -->
      <div class="form-group" ng-if="ctrl.detail.post">
        <label for="exampleInputPassword1">职位</label>
        <input type="text" placeholder="post" class="form-control" ng-model="ctrl.form.post">
      </div>
      <div class="form-group" ng-if="ctrl.detail.post">
        <label for="exampleInputFile">部门</label>
        <select class="form-control select2" style="width: 100%;" select2 ng-model="ctrl.form.department.name">
	      <option value="">请选择</option>
	      <option value="生产部">生产部</option>
	      <option value="质量部">质量部</option>
	    </select>
      </div>
    </div>
    <!-- /.box-body -->
  </form>
</div>

