<section class="content-header">
  <h1>
            用户详情
    <small>查看用户详情</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">用户管理</a></li>
    <li class="active">详情</li>
  </ol>
</section>

<div class="row">
  <div class="box">
    <!-- /.box-header -->
    <div class="box-body">
      <table class="table table-bordered">
        <tbody><tr>
          <th style="width: 10px">#</th>
          <th>属性名</th>
          <th>属性值</th>
          <!-- <th style="width: 40px">Label</th> -->
        </tr>
        <tr ng-repeat="(k, v) in ctrl.detail">
          <td>{{$index}}</td>
          <td>{{k}}</td>
          <td>
            {{ctrl.getValue(k, v, $index)}}
          </td>
          <!-- <td><span class="badge bg-red">55%</span></td> -->
        </tr>
      </tbody></table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
      <button type="button" class="btn btn-default pull-left" ng-click="ctrl.edit()">编辑</button>
      <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="#">«</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">»</a></li>
      </ul>
    </div>
  </div>
  <!-- /.box -->

</div>

<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">编辑框</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" placeholder="Enter email" id="exampleInputEmail1" class="form-control">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" placeholder="Password" id="exampleInputPassword1" class="form-control">
            </div>
            <div class="form-group">
              <label for="exampleInputFile">File input</label>
              <input type="file" id="exampleInputFile">

              <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Check me out
              </label>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-default pull-left" type="button">Close</button>
        <button class="btn btn-primary" type="button">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>