<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>用户管理
    <small>Preview</small>
  </h1>
  <ol class="breadcrumb">
    <li ui-sref="dashboard"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">User Manage</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
	<div class="col-xs-12">
	    <!-- general form elements -->
	    <div class="box box-primary">
	      <div class="box-header with-border">
	        <h3 class="box-title">搜索用户</h3>
	      </div>
	      <!-- /.box-header -->
	      <!-- form start -->
	      <form role="form">
	        <div class="box-body">
	          <div class="form-group col-md-6">
	            <label for="">邮箱</label>
	            <input type="text" class="form-control" ng-model="ctrl.params.email" placeholder="可模糊查询">
	          </div>

			  <div class="form-group col-md-6" ng-init="ctrl.params.enabled = ''">
				  <label for="">是否启动</label>
				  
				<div role="form">
			      <label class="radio-inline">
			        <input name="enabled" value="" type="radio" ng-model="ctrl.params.enabled"> 全部
			      </label>
			      <label class="radio-inline">
			        <input name="enabled" value="true" type="radio" ng-model="ctrl.params.enabled"> 已启用
			      </label>
			      <label class="radio-inline">
			        <input name="enabled" value="false" type="radio" ng-model="ctrl.params.enabled"> 未启用
			      </label>
			    </div>
			    <!-- 
                  <div class="radio">
                    <label class="radio-inline">
                      <input type="radio" name="enabled" value="" ng-model="ctrl.params.enabled">
                      	全部
                    </label>
                  </div>
                  <div class="radio">
                    <label class="radio-inline">
                      <input type="radio" name="enabled" value="true" ng-model="ctrl.params.enabled">
                      	已启用
                    </label>
                  </div>
                  <div class="radio">
                    <label class="radio-inline">
                      <input type="radio" name="enabled" value="false" ng-model="ctrl.params.enabled" >
                      	未启用
                    </label>
                  </div>
                   -->
                </div>
	        </div>
	        <!-- /.box-body -->
	
	        <div class="box-footer">
	          <button type="reset" class="btn btn-default" ng-click="ctrl.reset()">重置</button>
	          <button type="submit" class="btn btn-primary pull-right" ng-click="ctrl.query()">查询</button>
	        </div>
	      </form>
	    </div>
	    <!-- /.box -->
    	</div>
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">用户表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th class="col-md-2">姓名</th>
                  <th class="col-md-2">邮箱</th>
                  <th class="col-md-2">电话</th>
                  <th class="col-md-2">是否启动</th>
                  <th class="col-md-2">描述</th>
                  <th class="col-md-2">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in ctrl.pager.content">
                  <td ng-bind="x.name" class="col-md-2"></td>
                  <td ng-bind="x.email" class="col-md-2"></td>
                  <td ng-bind="x.subsidiary.mobile" class="col-md-2"></td>
                  <td ng-bind="x.enabled ? '是' : '否'" class="col-md-2"></td>
                  <td ng-bind="x.description" class="col-md-2"></td>
                  <td class="col-md-2" ng-if="hasAuthority('user_update_all') || (hasAuthority('user_update_self') && x.email == authentication.username)">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default btn-xs margin" ui-sref="user.detail({id : x.id})">编辑</button>
                      <button type="button" class="btn btn-danger btn-xs margin" ng-click="ctrl.delete(x.id)" ng-if="hasAuthority('user_delete')">删除</button>
                    </div>
                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th class="col-md-2">姓名</th>
                  <th class="col-md-2">用户名</th>
                  <th class="col-md-2">电话</th>
                  <th class="col-md-2">邮箱</th>
                  <th class="col-md-2">描述</th>
                  <th class="col-md-2">操作</th>
                </tr>
                </tfoot>
              </table>
              <pager page-number="ctrl.pager.pageNumber" total-pages="ctrl.pager.totalPages" button-count="5" on-click="ctrl.btnClick(pageNumber)">
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
	      <div class="box-footer clearfix" ng-if="hasAuthority('user_create_special')">
	        <button type="button" class="btn btn-primary btn-block" ui-sref="user.addUser()">新增</button>
	      </div>
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
