    <div class='col-md-6'>
        <div class="form-group">
            	<label for="date">从</label>
            <div class='input-group date' id='from'>
                <input type='text' class="form-control" ng-model="localFrom"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-6'>
        <div class="form-group">
            	<label for="date">到</label>
            <div class='input-group date' id='to'>
                <input type='text' class="form-control" ng-model="localTo"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
